body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 1200px;

}

.main-navigation:not(.inner) {
	
	padding-bottom: 520px;

	font-weight: bold;
	line-height: 26px;

	background-color: #ffffff;
	background-image: url("../img/sedona-index.png");
	background-repeat: no-repeat;
	background-position: top;


}

.container .inner {
  width: 1200px;
  
	padding-bottom: 0px;

	font-weight: bold;
	line-height: 26px;

	background-color: #ffffff;

	font-weight: bold;
	line-height: 26px;
}

.main-navigation>a {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);


}



.site-navigation {
	padding: 0;
	margin: 0;

	list-style: none;
	background-color: #ffffff;


}

.site-navigation li {
	width: 110px;
	padding-top: 14px;
	padding-bottom: 16px;
	padding-left: 65px;
	padding-right: 70px;
}


.site-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.site-navigation li:nth-child(4) {
	padding-right: 55px;
}




.site-navigation a {
	color: #000000;
}

.site-navigation-current a {
	color: #766357;
}

.site-navigation a:hover,
.access-column a.rooms-info:hover,
a.hotel-name:hover {
	color: #81B3D2;
}

.site-navigation a:active,
.access-column a:active  {
	color: rgba(0,0,0,0.3);
}



.advantages-title {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 51px;

	line-height: 26px;
}

.advantages-title .slogan {
	font-size: 21px;
	font-weight: bold;

	padding-top: 48px;
    padding-bottom: 27px;
    margin: 0;
}

.advantages-title .features-text {
	margin: 0;
	padding: 0;

	color: #333333;
}

.features-list {
	margin: 0;
	padding: 0;

	list-style: none;

	display: flex;
	flex-wrap: wrap;

}

.features-column {
	width: 300px;
	margin: 0;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 30px;
}

.benefits li {
	width: 300px;
	margin: 0;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 62px;
	padding-top: 148px;

	position: relative;
}

.features-column p {
	margin: 0;
}

.features-column p:first-child {
	padding-bottom: 19px;
}

.features-column p:nth-child(2) {
	padding-bottom: 21px;
}

.features-column p:last-child {
	padding-bottom: 29px;
}


.main-feature {
	background-color: #81B3D2;


	color: #ffffff;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.second-feature .features-column {
	width: 320px;
	padding-right: 40px;
	padding-left: 40px;
}

.second-feature img {
	order: -1;
}

 .main-feature strong {
	font-size: 21px;
	font-weight: bold;

}

.benefits {
	padding-left: 0;

	list-style: inherit;

	background-color: #ffffff;
	color: #333333;

	flex-grow: 1;

	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}

.benefits p {
	margin-bottom: 20px;
}

.features-column {
	flex-grow: 1;
}

.main-feature img {
	flex-grow: 3;
}

.benefits li:nth-child(1)::before {
	content: "";
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: top;

	padding-bottom: 0;
	padding-right: 40px;
	padding-left: 40px;

	position: absolute;
    top: 62px;
    right: 160px;

    height: 72px;	
}

.benefits li:nth-child(2)::before {
	content: "";
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: top;

	padding-bottom: 0;
	padding-right: 40px;
	padding-left: 40px;

	position: absolute;
	top: 63px;
    right: 161px;

    height: 72px;
}

.benefits li:nth-child(3)::before {
	content: "";
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: top;

	padding-bottom: 0;
	padding-right: 40px;
	padding-left: 40px;

	position: absolute;
    top: 58px;
    right: 159px;

    height: 76px;
}

.benefits b,
.other-features strong  {
	font-size: 21px;
	font-weight: bold;
	color: #000000;
}

.other-features-list {
	padding-top: 50px;
	padding-bottom: 36px;

	background-color: #eeeeee;
}

.other-features {
	width: 270px;
	margin: 0;
	padding-right: 65px;
	padding-left: 65px;

}

.other-features p {
	margin: 0;
    padding-bottom: 22px;
    padding-top: 0;

    line-height: 20px;
}


.rooms-search-button,
.search-button {
	font: inherit;
	text-transform: uppercase;

	border-style: none;
}

.lead-text {
	background-color: #ffffff;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 47px;
	margin-top: 50px;

	width: 445px;
}

.lead-text b {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}

.lead-text p {
	line-height: 24px;
	color: #333333;

    margin-top: 24px;
}

.order {
	background-color: #ffffff;

	width: 568px;
	min-height: 480px;

	display: flex;
	flex-direction: column;
	align-items: center;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

.main-footer-container {
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
  background-position: bottom;
  
  width: 1200px;
}
/*
пока думаю как разместить фон
*/




.rooms-search-button {
	background-color: #766357;

	width: inherit;

	margin: 0;
	padding: 30px 0;
}


.rooms-search-button strong {
	font: inherit;

	margin: 0;
	padding: 0;

	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;

	border-style: none;
}

.rooms-search-button:hover {
	background-color: #604E43;
}

.rooms-search-button strong:active,
.rooms-search-button:active {
	background-color: #503E33;
	color: rgba(255,255,255,0.3);
}


.rooms-search {
    width: 458px;

	line-height: 26px;
	font-weight: bold;

	margin-left: auto;
    margin-right: auto;
	padding: 55px 0 25px 0;

	display: flex;
	flex-wrap: wrap;
}


.form-container {
	width: 568px;
    box-shadow: 0 14px 35px -15px grey;
    padding-bottom: 27px;
}

.rooms-search input {
	font: inherit;
	font-size: 14px;
	text-transform: uppercase;


	border-style: none;

	background-color: #F2F2F2;

	width: 100%;
    padding-left: 12px;
}


.rooms-search label {
    width: 160px;

    padding-top: 6px;
	padding-right: 8px;
    padding-left: 3px;

    text-align: left;
}

.form-column {
	width: 458px;

	display: flex;

	padding-bottom: 28px;

}



.form-button {
	margin: 0;
	padding: 0;
	padding-left: 8px;
	padding-right: 8px;

	border-style: none;

	background-color: #f2f2f2;

	width: 38px;
	height: 38px;

}

.form-column+.amount-people-adults {
	width: 230px;
}

.amount-people-adults input,
.amount-people-children input {
	width: 16px;

    padding-top: 0px;
    padding-right: 10px;
    margin: 0;
    margin-top: 3px;

    text-align: center;
    min-height: 37px;;
}

.amount-people-adults label {
    width: 100px;

    padding-right: 12px;
    padding-top: 9px;
    padding-left: 1px;

}
.amount-people-children label {
    width: 40px;

    padding-left: 53px;
    padding-right: 25px;
    padding-top: 9px;
}

.adults-sub-button,
.children-sub-button,
.adults-sup-button,
.children-sup-button {
	margin-top: 3px;
}


.adults-sub-button,
.children-sub-button {
	background-image: url("../img/minus.png");
	background-repeat: no-repeat;
	background-position: center;
}

.adults-sub-button:hover,
.children-sub-button:hover {
	background-image: url("../img/minus-hover.png");
	background-repeat: no-repeat;
	background-position: center;
}

.adults-sub-button:active,
.children-sub-button:active {
	background-image: url("../img/minus-active.png");
	background-repeat: no-repeat;
	background-position: center;
}

.adults-sup-button,
.children-sup-button {
	background-image: url("../img/plus.png");
	background-repeat: no-repeat;
	background-position: center;
}

.adults-sup-button:hover,
.children-sup-button:hover {
	background-image: url("../img/plus-hover.png");
	background-repeat: no-repeat;
	background-position: center;
}

.adults-sup-button:active,
.children-sup-button:active {
	background-image: url("../img/plus-active.png");
	background-repeat: no-repeat;
	background-position: center;
}

.form-button path {
	fill: #cacaca;
}

.form-button:hover path {
	fill: black;	
}

.form-button:active path {
	fill: #81b3d2;
}

.form-column-button {
	width: 100%;
}

.search-button {
    padding-top: 14px;
    padding-bottom: 18px;

    background-color: #81B3D2;

    font: inherit;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    line-height: 26px;

    border-style: none;

    width: 100%;
}

.rooms-search .search-button:last-of-type:hover,
.social-list a:hover {
	background-color: #669EC0;
}

.rooms-search .search-button:last-of-type:active,
.social-list a:active {
	background-color: #5496BD;

	color: rgba(255,255,255,0.3);
}

.search-form-inner {
	background-color: #33383C;
	background-image: url("../img/filter background-min.jpg");
	background-repeat: no-repeat;
	background-position: center;
	
	color: #ffffff;

	padding: 29px 71px;
	padding-bottom: 0;

	display: flex;

	min-height: 189px;

}

.inner-form:last-child {
	margin-left: auto;
}



.inner-form {
	border: none;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;

	width: 165px;

	text-align: left;

	padding-right: 89px;
}

.checkbox {
    position: relative;

    margin-bottom: 26px;
    margin-left: 40px;
}

.hidden-checkbox:checked+.checkbox::before {
	content:"";
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;

	position: absolute;
	right: 135px;
}



.hidden-checkbox+.checkbox::before {
	content:"";
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;

	position: absolute;
	right: 135px;
}

.search-form-inner legend {
	font-size: 16px;
	font-weight: bold;

	padding-bottom: 22px;
}

.search-form-inner input:disabled + label {
	opacity: 0.5;
}

.prise-range,
.rooms-picking-button {
	border: 2px solid #FDFEFE;
	border-radius: 3px;
	box-shadow: 0 0 1px;

	background-color: transparent;

	color: #ffffff;
}

.filter-range {
	width: 317px;
	padding: 0;

	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;
	margin-right: auto;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
  
	height: 33px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 32px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price {
	width: 90px;
	padding-left: 64px;
}

.price-controls .max-price {
	width: 90px;
	padding-left: 56px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0;
	margin-left: 83px;
	margin-right: 97px;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}

.rooms-picking-button a {
	font: inherit;
}

.rooms-picking-button:hover {
	background-color: #ffffff;

	color: #000000;
}

.filter-hotels-quantity {
	margin: 0;

	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.filter-result {
	display: flex;
	flex-direction: column;
}

.filter-hotels-result {
	font-size: 12px;
	line-height: 18px;

	background-color: #ffffff;

	border-bottom: 1px solid #e5e5e5;

	display: flex;
	align-items: center;

	padding-left: 71px;
	padding-top: 32px;
    padding-bottom: 28px;
}

.filter-result-sort {
	list-style: none;
	
	width: 352px;
	padding: 0;
	margin: 0px;
    margin-left: 49px;

	display: flex;
	justify-content: space-between;
}

.filter-result-sort li:first-child {
	margin-right: 8px;
}

.filter-result-sort li {
	margin: 0;
	padding: 0;
}

.filter-result-sort a {
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dotted #81B3D2;
}

.current-result-sort a {
	color: #81B3D2;
}

.filter-result-sort a:hover {
	color: #81B3D2;
}

.filter-result-sort a:active {
	color: #000000;
}

.sort-buttons {
	margin-left: auto;
	margin-right: 72px;
}

.sort-buttons a {
	margin-left: 12px;
}

.sort-buttons a path {
	fill: rgba(0,0,0,0.3);
}

.sort-buttons a:hover path {
	fill: #231F20;
}

.sort-buttons a:active path {
	fill: #81B3D2;
}

a+.active-sort path {
	fill: #81B3D2;
}

.hotel-image {
	margin-right: 30px;

}

.access-hotels {
	background-color: #ffffff;

	list-style: none;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
}

.access-hotels li {
	border-bottom: 1px solid #e5e5e5;

    padding: 29px 71px;
    padding-left: 73px;
    padding-bottom: 15px;

    display: flex;
}

.access-column {
	display: flex;
	flex-wrap: wrap;

	padding-bottom: 17px;

	width: 300px;
}

.access-column h2,
.access-column p {
	margin: 0;
}

.column p {
	display: inline-block;

	width: 112px;
}

.column:last-child {
    margin-bottom: 2px;
    margin-top: auto;
}

.access-column a {
	color: #000000;
	line-height: 16px;

	margin-bottom: 5px;
}

.access-column-rate {
	margin-left: auto;
}

.access-hotels li>h2 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.rooms-type,
.rooms-prise {
	color: #333333;
	text-align: left;
}

.rooms-rate {
	color: #666666;

	background-color: #F2F2F2;

	padding: 4px 14px;
}

a.rooms-info {
	color: #ffffff;
	font-weight: bold;

	background-color: #81B3D2;
	
	padding: 5px 17px;

	min-height: 27px;
}

a.rooms-info:hover {
	background-color: #669ec0;
}

a.rooms-info:active {
	background-color: #5496bd;

	color: rgba(255,255,255,0.3);
}

a.rooms-book {
	color: #ffffff;
	font-weight: bold;

	background-color: #766357;

	min-height: 27px;

	padding: 5px 17px;
}

a.rooms-book:hover {
	background-color: #604e43;
}

a.rooms-book:active {
	background-color: #503e33;

	color: rgba(255,255,255,0.3);
}

.rooms-4stars,
.rooms-3stars,
.rooms-2stars {
	background-image: url("../img/star.svg");
	background-repeat: repeat-x;

	margin: 0;
	padding: 0;
	margin-bottom: 47px;
    margin-left: auto;

	min-height: 17px;

}

.rooms-4stars {
	background-repeat: space;
    width: 89px;
}

.rooms-3stars {
	background-repeat: space;
    width: 66px;
    margin-left: auto;
}

.rooms-2stars {
	background-repeat: space;
    width: 42px;
}

.footer-container {
	background-color: rgba(255,255,255,0.9);

	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    padding-top: 35px;
    padding-bottom: 36px;}

.social-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	width: 150px;

	margin: 0;
	padding: 0;
	margin-left: 44px;

}

.social-list li {
	display: flex;
	align-items: center;
	justify-content: center;

    width: 46px;
    height: 48px;

    background-color: #81B3D2;
}



.social-list li:hover {
	background-color: #669EC0;
}



.social-lead {
	width: 150px;

	margin: 0;
	margin-left: 125px;
	margin-bottom: 12px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.copy-footer {
	margin: 0;
	margin-right: 77px;

	width: 241px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.copy-footer span {
	line-height: 26px;
	padding-right: 10px;
}


.html-logo:hover path {
	fill: #81B3D2;
}

.html-logo:active path {
	fill: #BDBBBC;
}
